/* Projects file, Expanding arrow */
#arrow {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 2px;
  height: 300px;
  background-image: url('../images/line.svg');
  background-repeat: no-repeat;
  background-position: center top;
  transition: transform 1s ease-in-out;
}

#arrow.active {
  transform: translateX(-50%) scaleY(1);
}

.links {
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
}


/* Navbar hover effect */
.nav-link:hover {
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text !important;
    color: transparent !important;
    transform: scale(1.05);
    font-weight: 500;
}

/* Custom color classes */
.bg-custom {
  background-color: #410e8d !important;
}
.line-reverse {
  transform: rotate(180deg);
}
.text-customv2 {
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.text-custom {
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 2rem !important;
}

/* Header Text */
.header-text {
  text-transform: uppercase;
  font-size: 8vw;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  color: #e9ecef;
}
.btn-custom:hover {
  background-image:
  url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='myGradient' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0%' stop-color='hsl(273, 75%, 66%)'/%3E%3Cstop offset='100%' stop-color='hsl(240, 73%, 65%)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Crect x='0' y='0' width='2255' height='899' fill='url(%23myGradient)'/%3E%3Ccircle cx='366' cy='207' r='366' fill='url(%23myGradient)'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='url(%23myGradient)'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='url(%23myGradient)'/%3E%3C/g%3E%3C/svg%3E%0A") !important;  
}
.header-text:hover {
  background-image:
    url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 110% auto;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.fancy {

  background-image:
    url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='myGradient' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0%' stop-color='hsl(273, 75%, 66%)'/%3E%3Cstop offset='100%' stop-color='hsl(240, 73%, 65%)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Crect x='0' y='0' width='2255' height='899' fill='url(%23myGradient)'/%3E%3Ccircle cx='366' cy='207' r='366' fill='url(%23myGradient)'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='url(%23myGradient)'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='url(%23myGradient)'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
  background-size: 110% auto;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


/* Custom list-items in ´about-me´section */
.custom-bullet-list {
  list-style: none;
}

.custom-bullet-list li:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg stroke='%23FFFFFF' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E%0A");

}


/* SVG WAVE background image */
.wave {
  aspect-ratio: 900/300;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wave-layer {
  background-image: url(../images/layered-wave.svg);
}

/* Scroll reveal animation */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translatex(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}